@font-face {
  font-family: "Nucleo Outline";
  src: url("./assets/fonts/nucleo-outline.eot");
  src: url("./assets/fonts/nucleo-outline.eot") format("embedded-opentype"),
    url("./assets/fonts/nucleo-outline.woff2") format("woff2"),
    url("./assets/fonts/nucleo-outline.woff") format("woff"),
    url("./assets/fonts/nucleo-outline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: montserrat, helvetica neue, Arial, sans-serif;
  font-size: 16px;
}

/* --------------------------------
margin
-------------------------------- */

.mr-1 {
  margin-right: 4px;
}

/*------------------------
	base class definition
-------------------------*/
.now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 "Nucleo Outline";
  font-size: 16px;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.now-ui-icons.business_chart-pie-36:before {
  content: "\ea1f";
}

.now-ui-icons.ui-2_chat-round:before {
  content: "\ea20";
}

.now-ui-icons.design-2_ruler-pencil:before {
  content: "\ea48";
}

.now-ui-icons.files_paper:before {
  content: "\ea43";
}

.now-ui-icons.ui-2_settings-90:before {
  content: "\ea4b";
}

.now-ui-icons.shopping_box:before {
  content: "\ea11";
}

.nav-bar-section > .container-fluid > .container {
  display: flex;
  justify-content: flex-end;
}

.headers-section,
.features-section {
  height: 100vh;
}

.headers-section {
  position: relative;
  top: 100vh;
}

.features-section {
  position: relative;
  top: 200vh;
}

.navbar .dropdown-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
  max-width: 110px;
}

.dropdown.show .dropdown-btn.nav-link::after {
  transition: transform 0.15s ease 0s;
  transform: rotate(180deg);
}

.nav-link.dropdown-btn .text {
  margin: 0;
  line-height: 1.8em;
  font-size: 1em;
  font-weight: 400;
}

.dropdown-btn:hover {
  background-color: rgba(222, 222, 222, 0.3);
}

.dropdown-menu .dropdown-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
